<div class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-md-1">
        <%= image_tag(message.user.avatar.url(:thumb), :class => 'circle', :width => '30px') %>
      </div>
      <div class="col-md-11">
        <p class="card-text">
          <span class="text-muted"><%= message.user.first_name %> <%= message.timestamp %> :</span><br>
          <%= message.body %>
        </p>
      </div>
    </div>
  </div>
</div>
