
<% if user_signed_in? and current_user.teacher%>

  <h5> You are a teacher </h5>

<% else %>

  <div class="index-image-container">
    <img src="http://tutorly.co/assets/img/main5a.jpg" alt="" class="index-image"/>
    <div id="overlay">
      <h3 id="index-header1"> Tutorinki </h3>
      <h5 id="index-header2"> Löydä opetusta haluamastasi aiheesta helposti ja nopeasti! </h5>
         <%= form_tag(teachers_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :subject_query, params[:subject_query], placeholder: "Hae opetusta"%>
         <% end %>
    </div>
  </div>




<% end %>
