<ul class="collection">
  <% @allteachers.each do |teacher|%>
    <li class="collection-item avatar">
      <i><%= image_tag(teacher.avatar.url(:thumb), :class => 'round-image-50') %></i> -->
      <span class="title"><%= teacher.first_name %> <%= teacher.last_name %></span>
      <p>Helsinki<br>
         Hei olen <%= teacher.first_name %>!
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
  <% end %>
  </ul>      