#login {
	position: fixed;
  top: 0;
  left: 0;
	background: url("harald.jpg") no-repeat;
  min-width: 100%;
  min-height: 100%;
}


#login_panel {
	display: block;
	width: 400px;
	height: 350px;
	margin: auto;
	margin-top: 5%;
	margin-bottom: 5%;
	background-color: rgba(62, 62, 62, 0.85);
	padding: 60px;
}

#signup_panel {
	display: block;
	width: 400px;
	height: 560px;
	margin: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	background-color: rgba(62, 62, 62, 0.85);
	padding: 60px;
}

#login_panel input {
	color: white;
}

.new_user {
	color: white;
}

.register_actions {
	margin-top: 20px;
}

.confirm_button {
	font-size: 14px;
	border: 1px solid white;
	border-radius: 10px;
	width: 100%;
	margin: auto;
	background-color: rgba(209, 21, 148, 0.53);
}

.remember_field {
	margin-bottom: 15px;
}

.remember_field label {
	padding-left: 30px;
}

.check_box {
	margin: 10px;
	position: relative;
	margin-bottom: 10px;
	background-color: red;
}

.signup-view {
	display: block;
	width: 100%;
	margin-top: 30px;
}

.signup-view small {
	font-size: 13px;
	color: rgb(176, 174, 182);
}
