/*
 * Place all the styles related to the Teachers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/

.selectbox {
  display: block;
}

#search {
    position: absolute;
	top: 0;
    left: 0;
	min-width: 100%;
}

.search-result-list {
	width: 600px;
    margin: auto !important;
    position:absolute;
    opacity: 0.85;
}

.search-result-header {
	padding-top: 20px;
	margin-bottom: 30px;
	color:grey;
	text-align: center;
	position:relative;
}

#search-chips {
	display:flex;
	justify-content:center;
	align-items:center;
	position:relative;
	margin-bottom: 30px;
}

.search-item{
	color:black !important;
	border: 1px solid rgba(110, 110, 110, 0.3);
}

.search-item:hover {
	background-color: rgba(247, 97, 22, 0.7) !important;
}

.profile-header {
    padding: 3px;
}

.profile-card {
	display:flex;
	justify-content:center;
	align-items:center;
	align-content: center;
}

.description {
	padding-top: 20px;
}

#teacher-login-header {
    display:flex;
	justify-content:center;
	align-items:center;
	position:relative;
	padding-top: 5%;
}

#teacher-view-main {
	padding-top: 10%;
	 display:flex;
	justify-content:center;
	align-items:center;
	position:relative;
}

#notification-badge {
	max-height: 20px;
	max-width: 50px;
	align-content: center;
	align-items: center;
	color:orange;
}

.location {
   padding-bottom: 10px;
}

#subject {
	padding-left: 20px;
}

div.comment-button {
	padding-left: 3.5em;
}

/*.add-avatar {
	padding: 20px;
	display: inline;
	align-items: flex-end;
	float:right;
}*/

.delete-link {
	font-size: 0.8em;
	margin-left: 1em;
}

.edit-text-field {
	border: solid !important;
	border-width: 1px !important;
	border-color: lightgrey !important;
	padding-left: 3px !important;
	float: left !important;
	margin: 0px !important;
}

.edit-description-field {
	border: solid !important;
  	border-width: 1px !important;
  	border-color: lightgrey !important;
  	padding-left: 3px !important;
  	float: left !important;
  	margin: 0px !important;
}

@media only screen and (max-width: 992px) {
	.edit-text-field {
		margin-right: 20px !important;
	}

}

.edit-label {
  font-size: 1em;
  font-weight: bolder !important;
}

@media only screen and (min-width: 600px) {
	.edit-label-right {
		float:right;
	}
}

.edit-subject-label {
  font-size: 1em;
  font-weight: bolder !important;
}

@media only screen and (min-width: 600px) {
	.edit-subject-label-right {
		float:right;
	}
}


.edit-label-invisible {
	display: none !important;
}

.edit-header {
	margin-top: 1em;
	margin-bottom: 1em;
    display:flex;
	justify-content:center;
	align-items:center;
	position:relative;
}

.edit-divider {
	margin-right: 4%;
	margin-left: 4%;
	margin-bottom: 2%;
}

@media only screen and (max-width: 992px) {
	.edit-divider {
		margin: 20px;
	}
}

span.edit-note {
	font-size: 0.8em;
}

/*This overrides the materialize.css green color in active text-field for the edit- and bio-page.*/
input:not([type]):focus:not([readonly]).edit-text-field,
input[type=text]:focus:not([readonly]).edit-text-field,
input[type=password]:focus:not([readonly]).edit-text-field,
input[type=email]:focus:not([readonly]).edit-text-field,
input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]).edit-text-field,
input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]).edit-text-field,
textarea.materialize-textarea:focus:not([readonly]).edit-text-field,
input:not([type]):focus:not([readonly]).edit-description-field,
input[type=text]:focus:not([readonly]).edit-description-field,
input[type=password]:focus:not([readonly]).edit-description-field,
input[type=email]:focus:not([readonly]).edit-description-field,
input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]).edit-description-field,
input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]).edit-description-field,
textarea.materialize-textarea:focus:not([readonly]).edit-description-field {
    border-bottom: none !important;
    /*box-shadow: none !important;*/
    border: solid !important;
	border-width: 1px !important;
	border-color: lightgrey !important;
	/*border: none !important;
	outline: orange solid 2px !important;*/
	box-shadow: 0.6px 0.6px rgba(189, 189, 189, 0.73) inset !important;
}

.edit-button {
    background-color: orange; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 16px;
    border-radius: 3px;
    float: left;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.24), 0 1px 2px 0 rgba(0,0,0,0.19);
}

.edit-button:hover {
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.24), 0 1px 5px 0 rgba(0,0,0,0.19);
}

.edit-back-link {
	float:left;
}

.edit-bottom {
	margin-top: 40px !important;
	margin-bottom: 0px !important;
}
@media only screen and (min-width: 600px) {
	.edit-image-field {
		margin-top: 0.9em;
	}
}

div.profile-container {
	padding-left: 5em;
}

span.twitter-typeahead {
	width: 100% !important;
}

p.skill-list {
	margin-top: 0px !important;
}
