/*
 * Place all the styles related to the Teachers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/

#search {
    position: absolute;
	top: 0;
    left: 0;
	background: url("harald.jpg");
	min-width: 100%;
}

.search-result-list {
	width: 600px;
    margin: auto !important;
    position:absolute;
    opacity: 0.85;
}

.search-result-header {
	padding-top: 20px;
	margin-bottom: 30px;
	color:grey;
	text-align: center;
	position:relative;
}

#search-chips {
	display:flex;
	justify-content:center;
	align-items:center;
	position:relative;
	margin-bottom: 30px;
}

.search-item{
	color:black !important;
	border: 1px solid rgba(110, 110, 110, 0.3);
}

.search-item:hover {
	background-color: rgba(190, 15, 120, 0.53) !important;
}

div.comment-button {
	padding-left: 3.5em;
}

div.profile-container {
	padding-left: 5em;
}